name: Python Security CI

on:
  workflow_call:
    inputs:
      run_tests:
        description: "Run unit tests"
        required: false
        default: true
        type: boolean
      run_sonar:
        description: "Run SonarQube scan"
        required: false
        default: true
        type: boolean
      run_snyk:
        description: "Run Snyk scan"
        required: false
        default: true
        type: boolean
    secrets:
      SONAR_TOKEN:
        description: "Token for SonarQube / SonarCloud analysis"
        required: false
      SNYK_TOKEN:
        description: "Snyk API token"
        required: false

jobs:
  tests:
    if: ${{ inputs.run_tests }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run tests
        env:
          PYTHONPATH: .
        run: |
          python -m pytest

  sonar:
    if: ${{ inputs.run_sonar }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check SONAR_TOKEN is passed
        run: |
          if [ -z "${{ secrets.SONAR_TOKEN }}" ]; then
            echo "SONAR_TOKEN was not passed from caller workflow."
            exit 1
          fi

      - name: SonarQube Cloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  snyk:
    if: ${{ inputs.run_snyk }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Set up Node.js for Snyk CLI
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Snyk CLI
        run: npm install -g snyk

      - name: Snyk auth
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          if [ -z "$SNYK_TOKEN" ]; then
            echo "SNYK_TOKEN is NOT set. Please pass it from the caller workflow."
            exit 1
          fi
          snyk auth "$SNYK_TOKEN"

      - name: Run Snyk test (Python deps)
        run: |
          snyk test --severity-threshold=low
